<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="logPath">.logs</Property>
        <Property name="pattern">[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%p] [%t] [%c.%M:%L] - %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>

        <RollingFile name="INFO" fileName="${logPath}/info.log"
                     filePattern="${logPath}/info.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="${pattern}"/>
            <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="ERROR" fileName="${logPath}/error.log"
                     filePattern="${logPath}/error.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="${pattern}"/>
            <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="ERROR"/>
        </Root>
    </Loggers>
</Configuration>
